<%- model_class = Order -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>   
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
  </h1>

  <div id="custom-search-input">
    <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right: 0">
        <%= form_tag(orders_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag(:search, params[:search], placeholder: "Type order title or car number or name", id: "search", class: "search-query form-control") %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <%= button_tag(type: "submit", class: "btn btn-default", id: "search_button", style: "border-color: transparent") do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <button style="border-color: transparent" id="reset" class="btn btn-default">X</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="status">
    <div style="text-align: center;">
      <h3>Status: 
        <i class="stat" id="status-all">All</i> | 
        <i class="stat active" id="status-new">New</i> | 
        <i class="stat" id="status-processed">Processed</i> | 
        <i class="stat" id="status-archieve">Archieve</i>
      </h3>
    </div>

    <div class="status-all stata">
      <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% will_paginate @orders %>
        <% @orders.each do |order| %>
          <tr>
            <td><h4 style="margin-top:10px"><%= order.title %></h4></td>

            <td><h4 style="margin-top:10px"><%= order.status %></h4></td>

            <td class="ordersbutton">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          order_path(order), :class => 'btn btn-md btn-default', style: 'padding-right: 14px; padding-left:14px' %>
              <%= link_to t('Edit ', :default => t("helpers.links.edit")),
                          edit_order_path(order), :class => 'btn btn-md btn-default', style: 'padding-right: 20px; padding-left:20px' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          order_path(order),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-md btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>

    <div class="status-new stata">
      <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% will_paginate @ordersnew %>
        <% @ordersnew.each do |order| %>
          <tr>
            <td><h4 style="margin-top:10px"><%= order.title %></h4></td>

            <td><h4 style="margin-top:10px"><%= order.status %></h4></td>

            <td class="ordersbutton">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          order_path(order), :class => 'btn btn-md btn-default', style: 'padding-right: 14px; padding-left:14px' %>
              <%= link_to t('Edit ', :default => t("helpers.links.edit")),
                          edit_order_path(order), :class => 'btn btn-md btn-default', style: 'padding-right: 20px; padding-left:20px' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          order_path(order),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-md btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>

    <div class="status-processed stata">
      <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% will_paginate @ordersprocessed %>
        <% @ordersprocessed.each do |order| %>
          <tr>
            <td><h4 style="margin-top:10px"><%= order.title %></h4></td>

            <td><h4 style="margin-top:10px"><%= order.status %></h4></td>

            <td class="ordersbutton">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          order_path(order), :class => 'btn btn-md btn-default', style: 'padding-right: 14px; padding-left:14px' %>
              <%= link_to t('Edit ', :default => t("helpers.links.edit")),
                          edit_order_path(order), :class => 'btn btn-md btn-default', style: 'padding-right: 20px; padding-left:20px' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          order_path(order),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-md btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>

    <div class="status-archieve stata">
      <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% will_paginate @ordersarchieve %>
        <% @ordersarchieve.each do |order| %>
          <tr>
            <td><h4 style="margin-top:10px"><%= order.title %></h4></td>

            <td><h4 style="margin-top:10px"><%= order.status %></h4></td>

            <td class="ordersbutton">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          order_path(order), :class => 'btn btn-md btn-default', style: 'padding-right: 14px; padding-left:14px' %>
              <%= link_to t('Edit ', :default => t("helpers.links.edit")),
                          edit_order_path(order), :class => 'btn btn-md btn-default', style: 'padding-right: 20px; padding-left:20px' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          order_path(order),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-md btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>
  </div>
