<%- model_class = Detail -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>   <%= link_to t('.new', :default => t("helpers.links.new")),
            new_detail_path,
            :class => 'btn btn-primary' %>
              
  </h1>

<div id="custom-search-input">
  <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right: 0">
      <%= form_tag(details_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag(:search, params[:search], placeholder: "Search", id: "search", class: "search-query form-control") %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <%= button_tag(type: "submit", class: "btn btn-default", id: "search_button", style: "border-color: transparent") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <button style="border-color: transparent" id="reset" class="btn btn-default">X</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% will_paginate @details %>
    <% @details.each do |detail| %>
      <tr>
        <td><h4 style="margin-top:10px"><%= detail.title %></h4></td>
        <td class="detailsbutton">
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      detail_path(detail), :class => 'btn btn-md btn-default', style: 'padding-right: 14px; padding-left:14px' %>
          <%= link_to t('Edit ', :default => t("helpers.links.edit")),
                      edit_detail_path(detail), :class => 'btn btn-md btn-default', style: 'padding-right: 20px; padding-left:20px' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      detail_path(detail),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-md btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
