  <div class="row">
    <h2 style="margin-left: 3% ">Product info</h2>
    <hr>
      <div class="col-md-8 col-lg-offset-3 col-lg-6">
        <div class="card w-75">
            <div class="card-block">

              <form class="form-horizontal">
                  <fieldset disabled="disabled">
                      <div class="form-group">
                          <label class="control-label col-xs-2">Title</label>
                          <div class="col-xs-10">
                            <%= @detail.title %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-xs-2">Producer</label>
                          <div class="col-xs-10">
                            <%= @detail.producer %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-xs-2">Original number</label>
                          <div class="col-xs-10">
                            <%= @detail.original_num %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-xs-2">Series number</label>
                          <div class="col-xs-10">
                            <%= @detail.series_num %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-xs-2">Inside price</label>
                          <div class="col-xs-10">
                            <%= number_to_currency(@detail.in_price, :unit=>'€') %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-xs-2">Sell price</label>
                          <div class="col-xs-10">
                            <%= number_to_currency(@detail.sel_price,:unit=>'₴') %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-xs-2">Description</label>
                          <div class="col-xs-10">
                            <%= @detail.description %>
                          </div>
                      </div>
                      
                  </fieldset>
              </form>

          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-8 col-lg-offset-1 col-lg-6">

      <% if current_user == @detail.author %>
        <%= link_to t('.back', :default => t("helpers.links.back")),
              request.referrer , :class => 'btn btn-lg btn-default'  %>
      <% else %>
        <%= link_to t('.back', :default => t("helpers.links.back")),
                      root_path, :class => 'btn btn-lg btn-default' %>
      <% end %>

      <% if current_user == @detail.author %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_detail_path(@detail), :class => 'btn btn-lg btn-default' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              detail_path(@detail),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-lg btn-danger' %>
              <% end %>
</div>
</div>